#services {
    margin-top: 50px;
}

.card-group-services {
    margin-top: 30px !important;
}

.card-service {
    margin: 12px;
    width: "18rem";
    border: none !important;
    background-color: #d1e2e3 !important;
}

.card-service-title {
    font-size: 30px !important;
    border-bottom: black 2px solid;
    padding-bottom: 12px;
    padding-top: 10px;
}

.card-service-link {
    text-decoration: none;
    color: black;
}

.card-service-image {
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
    border-top-left-radius: 0% !important;
    border-top-right-radius: 0% !important;

}

.card-service-button {
    border-radius: 0 !important;
    margin-top: 20px !important;
    margin-left: 9.5px !important;
    transform: scale(1.2) !important;
}

.card-text {
    font-size: 25px;
}

